*{
    margin:0px;
    padding:0px;
}

.searchLayout{
    padding:15px 10px;
   display:flex;
   justify-content: space-around;
   align-items: center;
    
}

.searchInput {  
   width:500px;
   margin-left: 50px;
   padding:10px;
   border-radius: 15px;
   
   
}
.searchLayout :hover {  
    cursor: pointer;
   
 
 }
 .filter-btn{
    width:200px;
    padding:10px;
    border-radius: 15px;
   
 }
 .filter-btn:hover{
    cursor: pointer;
 }
.resList{
    display: flex;
    flex-wrap: wrap;
    padding:15px;
    margin-left:90px;
    gap:10px;
}
.container{
    border:2px solid black;
    width:250px;
}
.container :hover{
    cursor: pointer;
}
 .image{
    width:250px;
    height:250px;
 }
 .card-details{
    margin:5px;
 }